#yml配置
# 可以按需求修改,比如push,pull_requesy某个分支时执行CI
# 因为我是yarn,如果npm就直接使用npm
# 某个步骤报错,action执行的时候也可能显示通过图标,小心踩坑
name: Node.js CI

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    # 如果写了测试用例,也可以自动测试
    - run: yarn install
    - run: yarn build
    - name: Deploy
      # 使用此action，也可在官方市场选择其他action
      uses: easingthemes/ssh-deploy@v2.0.7
      env:
        # Private Key secrets.ALIYUN就是刚才配置的密钥名
        SSH_PRIVATE_KEY: ${{ secrets.ACCESS_TOKEN }}
        # For any initial/required rsync flags
        ARGS:  "-rltgoDzvO --delete"
        # Source directory dist/ 需要到远端服务器的文件目录 **填入自己的打包路径**
        SOURCE: "dist/"
        # Remote host **填入自己的域名**
        REMOTE_HOST: "39.99.202.177"
        # Remote user **填入自己的用户,一般都是root用户**
        REMOTE_USER: "really"
        # Target directory 此处填写的是我博客域名下的action pacth下 **填入自己的域名路径**
        TARGET: "/root/web/really"
